.span {
  font-size: 32px;
  font-weight: 600;
}

.span.positive {
  color: rgb(7, 228, 7);
}

.span.negative {
  color: rgb(245, 3, 3);
}

.buttons {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  width: 330px;
}

.increment, .decrement {
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid black;
  cursor: pointer;
}

.increment {
  background: rgb(7, 228, 7);
  color: white;
}

.decrement {
  background: rgb(245, 3, 3);
  color: white;
}
